*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
#main{
    
}
#carros{

}
#anuncios{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
#anuncio1{

}
#anuncio2{

}
#anuncio3{

}